{% extends 'base.html' %}

{% block title %} | Browse for music lyrics {% endblock %}

{% block content %}
    <div class="jumbotron m-auto">
    <div class="container" style="font-size: 22px;">
        <div class="wrapper text-center">
            <h2>Welcome To Central Lyrics!</h2>
        <p>It's a place where you can find all music lyrics. We have a large, legal, every day growing universe of lyrics where stars of all genres and ages shine.</p>
        <p>Central lyrics is meant to be a simple site where you can search for the music lyrics.
            Central Lyrics uses 
            <a href="https://docs.genius.com/">Genius API</a>
            to retrieve song lyrics. This is just a simple practical implementation of the genius api.
        </p>
        <p>The project can be found on 
            <a href="https://github.com/KruzeZab/Central-Lyrics">github</a>. Please feel free to make any kinds of contribution to the project. &hearts;</p>
        
            <span class="text-danger">
            &hearts; &hearts; &hearts;
            </span> 
        </div>
        <br />
        <ul>
            <li>Click 
                <a href="https://genius.com/">here</a> 
                to visit genius official site.</p></li>
            
        
        <li>Click 
            <a href="https://github.com/KruzeZab/Central-Lyrics">here</a> 
            to visit github repository.</p></li>
            </ul>
            </div>
        
    </div>
{% endblock %}

{% include 'partials/_footer.html' %}
