{% extends 'base.html' %}

{% block title %} | Lyrics {% endblock %}

{% block content %}
<div class="card mb-3 justify-content-center shadow" style="max-width: 100%; height: 200px; background-color: rgb(255, 157, 157);">
    <div id="thumbnail">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="https://chapelboromedia.s3.amazonaws.com/uploads/2019/09/10124917/Led-Zeppelin-1.jpg" class="card-img" alt="..." height="103px">
      </div>
      <div class="col-md-6">
        <div class="card-body" style="background-color: white;">
          <h4 class="card-title text-danger" style="letter-spacing: 1px;">
            Whole Lotta Love
          </h4>
          
        <strong> 
          <h5 class="card-text text-muted" style="letter-spacing: 2px;">
            Led Zeppelin
          </h5>
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h3 class="text-center text-danger">'Whole Lotta Love'</h3>
  <p class="lyrics-content text-center">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis sapiente, eum ullam hic accusamus eaque distinctio porro ducimus minus at incidunt doloremque numquam nulla soluta aliquid officia repellat error dolore.
      Adipisci, sit in voluptas magni iure quidem aut repellendus officiis velit aperiam odit non possimus enim esse obcaecati accusantium facilis ipsa explicabo amet iusto error, autem cupiditate expedita aspernatur! Sunt?
      Dolore cupiditate quidem voluptatum dolorem, praesentium unde enim natus fuga. Omnis at in doloremque veritatis ratione natus minus. Quia magnam consequuntur dolorum numquam consequatur unde aperiam ut laudantium architecto voluptates!
      Ullam numquam exercitationem consectetur. Facilis dolorem aut ex nam odit fugit nostrum, quam explicabo veritatis est reprehenderit, cum eveniet atque labore doloribus eaque quos, natus tempora? Dolorum cupiditate eaque temporibus.
      Fugit quos iure maiores eligendi, cumque asperiores saepe veniam libero. Voluptatem delectus beatae quaerat voluptatibus, facere, voluptatum placeat illum fuga cumque rem esse sed optio quo animi sunt aspernatur nisi?
      Dolores exercitationem mollitia distinctio voluptas, eius aut nemo nesciunt. Facere, consequatur? Corrupti omnis atque porro, est laboriosam eaque ut, mollitia numquam rerum, modi sint obcaecati. Odit consequuntur sapiente ipsa perspiciatis!
      Dolorum accusantium nulla deleniti neque repellat? Inventore reprehenderit doloremque minus error, sint explicabo enim odit cum cumque ad beatae itaque sit maxime exercitationem esse, eaque delectus. Consectetur similique molestiae quae!
      Blanditiis minus mollitia accusamus labore vel, sit sed culpa assumenda provident odit minima dolorem ea dolorum. Aspernatur dolorem odit mollitia rem. Vero, saepe quam! Sunt animi totam quam odio quod?
      Qui laborum laboriosam numquam. Odio mollitia, necessitatibus illo sed rerum doloribus recusandae officiis ut sequi incidunt, maxime quam deserunt? Debitis deleniti voluptate architecto esse odio, vel accusamus rem amet sunt.
      Repudiandae dolores placeat assumenda adipisci expedita iure dolorem aliquid magnam corrupti id numquam eum totam omnis dignissimos repellendus provident vel, cupiditate ab debitis, maiores beatae, veritatis doloremque. Nihil, alias aliquam.
  </p>
</div>  
{% endblock %}