{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="{% url 'index' %}">Central Lyrics</a>

        <button class="btn btn-link" id="searchIcon">
            <i class="fas fa-search text-white"></i>
        </button>

        <button class="btn btn-link d-none" id="close">
            <i class="fas fa-lg fa-times text-white"></i>
        </button>
        
          <div class="form-wrapper justify-content-center" style="width: 40%; margin-right: 30%;">
            <form action="{% url 'search' %}" method="GET" class="form-inline my-2 my-lg-0">
              <div class="input-group w-100" id="wrap">
                <input type="search" class="form-control" id="searchField" 
                name="q" placeholder="Search lyrics..." autofocus value="{{ values.q }}">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-info my-2 my-sm-0" id="searchButton">
                      <i class="fas fa-search"></i>&nbsp;
                  </button>
                </div>
              </div>
            </form>
                
            </div>
    </div>
  </nav>